


.profpic{
  height:150px ;
  width: 150px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 8px 9px 5px -3px rgba(0,0,0,0.75);
}

.userslist{
  margin: 20px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
 
}
.users{
 width: 200px;
 text-align: center;
}
.addusers{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}